﻿@{
    ViewBag.Title = "Create";
}
<html>
<h2>Create</h2>
<head>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/knockout-2.2.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <form>
        <table>
            <tr>
                <td>
                    <table id="tbldml">
                        <tr>
                            <td>AssetID</td>
                            <td>
                                <input type="text" id="txteno" data-bind="value: $root.Asset_ID" disabled="disabled" />
                            </td>
                        </tr>
                        <tr>
                            <td>FileName</td>
                            <td>
                                <input type="text" id="txtename" data-bind="value: $root.File_Name" />
                            </td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>
                                <input type="text" id="txtsal" data-bind="value: $root.Description" />
                            </td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td>
                                <input type="text" id="txtdname" data-bind="value: $root.Country" />
                            </td>
                        </tr>
                        <tr>
                            <td>Mime_Type</td>
                            <td>
                                <input type="text" id="txtdesig" data-bind="value: $root.Mime_Type" />
                            </td>
                        </tr>
                        <tr>
                            <td>Created_By</td>
                            <td>
                                <input type="text" id="txtdesig" data-bind="value: $root.Created_By" />
                            </td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>
                                <input type="text" id="txtdesig" data-bind="value: $root.Email" />
                            </td>
                        </tr>
                        <tr>
                            <!--The click binding has the JavaScirpt methods passed to it-->
                            <td>
                                <button data-bind="click :$root.save">Save</button>
                            </td>
                            <td>
                                <button data-bind="click: $root.update">Update</button>
                            </td>
                        </tr>
                    </table>

                </td>
                <td>
                    <div class="FixedContainer">
                        <!--If the lenght of the Assets is greater than 0 then visible the Table-->
                        <table data-bind="visible:  Assets().length>0" style="border: double">
                            <thead>
                                <tr>
                                    <td>AssetId</td>
                                    <td>AssetName</td>
                                    <td>AssetDescription</td>
                                    <td>Country</td>
                                    <td>Mime_Type</td>
                                    <td>Created_By</td>
                                    <td>Email</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <!--Iterate through an observableArray using foreach-->
                            <tbody data-bind="foreach:  Assets">
                                <tr style="border: solid" data-bind="click: $root.getselectedasset" id="updtr">
                                    <td><span data-bind="text:  Asset_ID"></span></td>
                                    <td><span data-bind="text:  File_Name"></span></td>
                                    <td><span data-bind="text: Description"></span></td>
                                    <td><span data-bind="text: Country"></span></td>
                                    <td><span data-bind="text: Mime_Type"></span></td>
                                    <td><span data-bind="text: Created_By"></span></td>
                                    <td><span data-bind="text: Email"></span></td>
                                    <td>
                                        <button data-bind="click: $root.deleterec">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>
    <script type="text/javascript">
        var AssetViewModel = function () {
            //Make the self as 'this' reference
            var self = this;
            //Declare observable which will be bind with UI
            self.Asset_ID = ko.observable("0");
            self.File_Name = ko.observable("");
            self.Description = ko.observable("");
            self.Country = ko.observable("");
            self.Mime_Type = ko.observable("");
            self.Created_By = ko.observable("");
            self.Email = ko.observable("");

            var AssetData = {
                Asset_ID: self.Asset_ID,
                File_Name: self.File_Name,
                Description: self.Description,
                Country: self.Country,
                Mime_Type: self.Mime_Type,
                Created_By: self.Created_By,
                Email: self.Email
            };


            self.Assets = ko.observableArray([]);

            GetAssets();

            function GetAssets() {

                $.ajax({
                    type: "GET",
                    url: "/api/assets/GetAllAssets",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        debugger;
                        self.Assets(data);
                    },
                    error: function (error) {
                        alert(error.status + "<--and--> " + error.statusText);
                    }
                });

            }


            //Function to perform POST (insert Employee) operation
            self.save = function () {
                //Ajax call to Insert the Employee
                debugger;
                $.ajax({
                    type: "POST",
                    url: "/api/assets/SaveAsset",
                    data: ko.toJSON(AssetData), //Convert the Observable Data into JSON
                    contentType: "application/json",
                    success: function (data) {
                        alert("Record Added Successfully");
                        self.AssetId(data.Asset_ID);
                        alert("The New Employee Id :" + self.Asset_ID());
                        GetAssets();
                    },
                    error: function () {
                        alert("Failed");
                    }
                });
                //Ends Here
            };

            self.update = function () {
                var url = "/api/assets/UpdateAsset";
                            
                $.ajax({
                    type: "PUT",
                    url: url,
                    data: ko.toJSON(AssetData),
                    contentType: "application/json",
                    success: function (data) {
                        alert("Record Updated Successfully");
                        debugger;
                        GetAssets();
                    },
                    error: function (error) {
                        alert(error.status + "<!----!>" + error.statusText);
                    }
                });
            };

            //Function to perform DELETE Operation
            self.deleterec = function (aset) {
                AssetData.Asset_ID = aset.Asset_ID;
                debugger;
                $.ajax({
                    type: "PUT",
                    url: "/api/assets/DeleteAsset",
                    data: ko.toJSON(aset),
                    contentType: "application/json",
                    success: function (data) {
                        debugger;
                        alert("Record Deleted Successfully");
                        GetAssets();//Refresh the Table
                    },
                    error: function (error) {
                        alert(error.status + "<--and--> " + error.statusText);
                    }
                });
                // alert("Clicked" + employee.EmpNo)
            };

            self.getselectedasset = function (aset) {
                self.Asset_ID(aset.Asset_ID),
                self.File_Name(aset.File_Name),
                self.Description(aset.Description),
                self.Country(aset.Country),
                self.Mime_Type(aset.Mime_Type),
                self.Created_By(aset.Created_By),
                self.Email(aset.Email)
            };



        };
        ko.applyBindings(new AssetViewModel());
    </script>
</body>
</html>

